.form-contents {
    width: 970px;
    margin: 0 auto -2.5rem;

    div[data-name="request-form-wrap"] {
        min-height: 300px;
        -webkit-transform: translateY(-6.25rem);
        transform: translateY(-6.25rem);
        padding-right: 2.5rem;
        z-index: 2;
    }

    .request-form {
        position: relative;
        background-color: var(--sub-bg-color);
        padding: 40px;
        border: 1px solid var(--main-border-color);
        border-radius: 5px;

        .contents-body {
            padding-bottom: 40px;
        }

        .contents-footer {
            overflow: hidden;

            small.form-error-msg {
                display: block;
                width: 100%;
                text-align: right;
                margin-bottom: 10px;
                font-size: 14px;

                i {
                    color: var(--red);
                }

                .fa {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

                .notice {
                    &:before {
                        content: "\22C7";
                    }
                }
            }

            .btn-wrapper {
                width: 100%;
                text-align: right;

                .btn {
                    cursor: pointer;
                    outline: 0;
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;
                    -webkit-transition: opacity 0.2s ease-in-out;
                    transition: opacity 0.2s ease-in-out;
                }

                .neg-btn-primary {
                    background-color: var(--sub-bg-color);
                    color: var(--main-bg-color);
                    &:hover {
                        background: darken(#fff, 2%);
                    }

                    &:active {
                        background: darken(#fff, 10%);
                    }
                }

                .btn-primary {
                    background-color: var(--main-bg-color);
                    color: var(--sub-bg-color);

                    &:hover {
                        background: lighten(#00c7ae, 2%);
                    }

                    &:active {
                        background: darken(#00c7ae, 2%);
                    }
                }
            }
        }
    }
}