.form-group {
    border: none;
    text-align: left;
    padding: 0;

    .base-selectbox {
        display: block;
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        .select-wrapper {
            min-width: 100px;
            width: 100%;
            position: relative;
            display: inline-block;
            border: 1px solid var(--sub-1-border-color);
            border-radius: 0;
            text-align: left;

            .form-control {
                border: none;
                box-shadow: none;
                background-color: transparent;

                option {
                    color: var(--black);
                    &:disabled {
                        color: var(--main-border-color);
                    }
                }
            }

            .fa {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .arrow {
                position: absolute;
                top: 50%;
                right: 8px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                color: #b5b5b5;
                pointer-events: none;
                font-size: 1rem;
            }
        }
    }
}


.no-value {
    .select-wrapper {
        select {
            color: var(--sub-1-border-color);
        }
    }
}