.contents-header {
    padding-bottom: 40px;

    .progress {
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #f2f2f2;
        margin: 20px 0 0;

        .progress-bar {
            height: 100%;
            background-color: var(--main-bg-color);
        }
    }

    .progress-desc p {
        padding: .5rem 0;
        text-align: center;
        color: var(--main-bg-color);
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        line-height: 1.5;
    }
}