#app-body {
  position: relative; }

.app-header {
  margin: 0;
  height: 72px;
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--sub-bg-color);
  padding: 1rem 1.5rem; }
  .app-header img {
    height: 36px; }

.footer-container {
  border-top: 0.0625rem solid var(--main-border-color);
  padding: 1.3125rem 0 1.875rem; }
  .footer-container .footer-container-row {
    display: block;
    max-width: 60.625rem;
    padding: 0; }

.checkbox-label {
  margin: 0; }
  .checkbox-label label {
    display: table;
    width: 100%; }
  .checkbox-label input[type="checkbox"] {
    display: none; }
  .checkbox-label input[type="checkbox"] + span {
    cursor: pointer; }
  .checkbox-label input[type="checkbox"] + span span::before {
    content: "";
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--sub-1-border-color);
    border-radius: 4px;
    margin: 0; }
  .checkbox-label input[type="checkbox"]:checked + span span::before {
    content: "\2713";
    font-size: 1rem;
    color: var(--sub-bg-color);
    background: var(--main-bg-color);
    text-align: center; }
  .checkbox-label .checkbox-el {
    position: relative;
    display: table-cell;
    width: 20px;
    padding-right: 20px;
    vertical-align: middle; }
  .checkbox-label .checkbox-body {
    cursor: pointer;
    position: relative;
    display: table-cell;
    vertical-align: middle; }
    .checkbox-label .checkbox-body .label-desc {
      margin: 0px; }

.contents-header {
  padding-bottom: 40px; }
  .contents-header .progress {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #f2f2f2;
    margin: 20px 0 0; }
    .contents-header .progress .progress-bar {
      height: 100%;
      background-color: var(--main-bg-color); }
  .contents-header .progress-desc p {
    padding: .5rem 0;
    text-align: center;
    color: var(--main-bg-color);
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    line-height: 1.5; }

.radio-label {
  margin: 0;
  cursor: pointer; }
  .radio-label label {
    display: table;
    width: 100%; }
  .radio-label input[type="radio"] {
    display: none; }
  .radio-label input[type="radio"] + span span {
    cursor: pointer; }
  .radio-label input[type="radio"] + span span::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-color: white;
    background-color: white;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    content: ""; }
  .radio-label input[type="radio"]:checked + span span::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-color: #00c7ae;
    background-color: #00c7ae;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    content: ""; }
  .radio-label .radio-el {
    position: relative;
    display: table-cell;
    width: 20px;
    padding-right: 15px;
    vertical-align: middle; }
    .radio-label .radio-el .radio {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid #dedede;
      border-radius: 50%;
      margin: 0; }
  .radio-label .radio-body {
    cursor: pointer;
    position: relative;
    display: table-cell;
    vertical-align: middle; }
    .radio-label .radio-body .label-desc {
      margin: 0px; }

.form-group {
  border: none;
  text-align: left;
  padding: 0; }
  .form-group .base-selectbox {
    display: block;
    margin-bottom: 0.5rem; }
    .form-group .base-selectbox:last-child {
      margin-bottom: 0; }
    .form-group .base-selectbox .select-wrapper {
      min-width: 100px;
      width: 100%;
      position: relative;
      display: inline-block;
      border: 1px solid var(--sub-1-border-color);
      border-radius: 0;
      text-align: left; }
      .form-group .base-selectbox .select-wrapper .form-control {
        border: none;
        box-shadow: none;
        background-color: transparent; }
        .form-group .base-selectbox .select-wrapper .form-control option {
          color: var(--black); }
          .form-group .base-selectbox .select-wrapper .form-control option:disabled {
            color: var(--main-border-color); }
      .form-group .base-selectbox .select-wrapper .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .form-group .base-selectbox .select-wrapper .arrow {
        position: absolute;
        top: 50%;
        right: 8px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #b5b5b5;
        pointer-events: none;
        font-size: 1rem; }

.no-value .select-wrapper select {
  color: var(--sub-1-border-color); }

.form-control {
  text-align: left;
  height: 48px;
  border: 1px solid var(--sub-2-border-color);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  box-shadow: none; }
  .form-control:focus {
    outline: 0; }

.form-list {
  width: 100%; }
  .form-list .request-formset {
    padding: 0;
    margin: 0; }
    .form-list .request-formset * {
      outline: none;
      font-size: 1rem; }
    .form-list .request-formset h3 {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
      line-height: 2.5rem;
      font-weight: 500; }
    .form-list .request-formset ul {
      border: 1px solid var(--sub-2-border-color);
      border-radius: 4px;
      overflow: hidden;
      padding: 0;
      margin: 0; }
      .form-list .request-formset ul li {
        list-style: none; }
    .form-list .request-formset .item-list {
      padding: 15px 25px;
      border-bottom: 1px solid var(--sub-2-border-color);
      list-style: none;
      background: var(--sub-bg-color); }
      .form-list .request-formset .item-list:last-child {
        border-bottom: none; }

.form-list {
  width: 100%; }
  .form-list .request-formset {
    padding: 0;
    margin: 0; }
    .form-list .request-formset * {
      outline: none;
      font-size: 1rem; }
    .form-list .request-formset h3 {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
      line-height: 2.5rem;
      font-weight: 500; }
    .form-list .request-formset ul {
      border: 1px solid var(--sub-2-border-color);
      border-radius: 4px;
      overflow: hidden;
      padding: 0;
      margin: 0; }
      .form-list .request-formset ul li {
        list-style: none; }
    .form-list .request-formset .item-list {
      padding: 15px 25px;
      border-bottom: 1px solid var(--sub-2-border-color);
      list-style: none;
      background: var(--sub-bg-color); }
      .form-list .request-formset .item-list:last-child {
        border-bottom: none; }

.form-list {
  width: 100%; }
  .form-list .request-formset {
    padding: 0;
    margin: 0; }
    .form-list .request-formset * {
      outline: none;
      font-size: 1rem; }
    .form-list .request-formset h3 {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
      line-height: 2.5rem;
      font-weight: 500; }
    .form-list .request-formset ul {
      border: 1px solid var(--sub-2-border-color);
      border-radius: 4px;
      overflow: hidden;
      padding: 0;
      margin: 0; }
      .form-list .request-formset ul li {
        list-style: none; }
    .form-list .request-formset .item-list {
      padding: 15px 25px;
      border-bottom: 1px solid var(--sub-2-border-color);
      list-style: none;
      background: var(--sub-bg-color); }
      .form-list .request-formset .item-list:last-child {
        border-bottom: none; }

.form-list {
  width: 100%; }
  .form-list .request-formset {
    padding: 0;
    margin: 0; }
    .form-list .request-formset * {
      outline: none;
      font-size: 1rem; }
    .form-list .request-formset h3 {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
      line-height: 2.5rem;
      font-weight: 500; }
    .form-list .request-formset ul {
      border: 1px solid var(--sub-2-border-color);
      border-radius: 4px;
      overflow: hidden;
      padding: 0;
      margin: 0; }
      .form-list .request-formset ul li {
        list-style: none; }
    .form-list .request-formset .item-list {
      padding: 15px 25px;
      border-bottom: 1px solid var(--sub-2-border-color);
      list-style: none;
      background: var(--sub-bg-color); }
      .form-list .request-formset .item-list:last-child {
        border-bottom: none; }

.send-request {
  padding-bottom: 3.125rem; }
  .send-request section {
    padding: 2.5rem 0; }
  .send-request .form-title {
    background-image: url(assets/bg.png);
    position: relative;
    background-size: cover;
    background-position: 50%;
    padding: 3.75rem 0 6rem;
    margin-bottom: 0; }
    .send-request .form-title .title-wrapper {
      position: relative;
      width: 970px;
      margin: 0 auto;
      z-index: 2; }
      .send-request .form-title .title-wrapper h1 {
        font-size: 2.5rem;
        line-height: 3.75rem;
        letter-spacing: -0.04375rem;
        color: var(--sub-bg-color);
        margin: 0;
        font-weight: 500; }
    .send-request .form-title .dimmed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0; }
  .send-request .form-contents {
    width: 970px;
    margin: 0 auto -2.5rem; }
    .send-request .form-contents div[data-name="request-form-wrap"] {
      min-height: 300px;
      -webkit-transform: translateY(-6.25rem);
      transform: translateY(-6.25rem);
      padding-right: 2.5rem;
      z-index: 2; }
    .send-request .form-contents .request-form {
      position: relative;
      background-color: var(--sub-bg-color);
      padding: 40px;
      border: 1px solid var(--main-border-color);
      border-radius: 5px; }
      .send-request .form-contents .request-form .contents-body {
        padding-bottom: 40px; }
      .send-request .form-contents .request-form .contents-footer {
        overflow: hidden; }
        .send-request .form-contents .request-form .contents-footer small.form-error-msg {
          display: block;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
          font-size: 14px; }
          .send-request .form-contents .request-form .contents-footer small.form-error-msg i {
            color: var(--red); }
          .send-request .form-contents .request-form .contents-footer small.form-error-msg .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
          .send-request .form-contents .request-form .contents-footer small.form-error-msg .notice:before {
            content: "\22C7"; }
        .send-request .form-contents .request-form .contents-footer .btn-wrapper {
          width: 100%;
          text-align: right; }
          .send-request .form-contents .request-form .contents-footer .btn-wrapper .btn {
            cursor: pointer;
            outline: 0;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out; }
          .send-request .form-contents .request-form .contents-footer .btn-wrapper .neg-btn-primary {
            background-color: var(--sub-bg-color);
            color: var(--main-bg-color); }
            .send-request .form-contents .request-form .contents-footer .btn-wrapper .neg-btn-primary:hover {
              background: #fafafa; }
            .send-request .form-contents .request-form .contents-footer .btn-wrapper .neg-btn-primary:active {
              background: #e6e6e6; }
          .send-request .form-contents .request-form .contents-footer .btn-wrapper .btn-primary {
            background-color: var(--main-bg-color);
            color: var(--sub-bg-color); }
            .send-request .form-contents .request-form .contents-footer .btn-wrapper .btn-primary:hover {
              background: #00d1b7; }
            .send-request .form-contents .request-form .contents-footer .btn-wrapper .btn-primary:active {
              background: #00bda5; }

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.col-lg-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

:root {
  --main-border-color: #e1e1e1;
  --sub-1-border-color: #ccc;
  --sub-2-border-color:#e7e7e7;
  --main-bg-color: #00c7ae;
  --sub-bg-color: #fff;
  --black:#000;
  --blue: #4785ff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #ff3131;
  --orange: #fd7e14;
  --yellow: #ffce21;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #999;
  --gray-dark: #525252;
  --primary: #00c7ae;
  --secondary: #e1e1e1;
  --success: #00c7ae;
  --info: #17a2b8;
  --warning: #ffce21;
  --danger: #ff3131;
  --light: #fafafa;
  --dark: #525252;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Noto Sans KR", "Malgun Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  margin: 0;
  font-family: Noto Sans KR, Malgun Gothic, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  text-align: left;
  background-color: #fff; }

i {
  font-style: italic; }

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; }

ul li {
  display: list-item;
  text-align: -webkit-match-parent; }

.btn {
  display: inline-block;
  font-weight: 400;
  color: #323232;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6875rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem; }

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.375rem + 2px);
  padding: .6875rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--main-border-color);
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
