.form-control {
    text-align: left;
    height: 48px;
    border: 1px solid var(--sub-2-border-color);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    box-shadow: none;

    &:focus {
        outline: 0;
    }
}